<div class="row">
  <div class="container-fluid" width=100%>
    <div class="alert <%= @alert_params[:alertType] %>">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-2">
          <i class="<%= @alert_params[:icon] %>" aria-hidden="true" style="margin-left: 40px;"></i>
        </div><!--icon-column-->
        <div class="col-md-8">
          <h1><%= @alert_params[:heading] %></h1>
          <h4><%= @alert_params[:subheading] %></h4>
        </div> <!--text-column-->
        <% unless current_user.find_unmatched.count > 0 %>
          <div class="col-md-2">
            <div class="row">
              <a href="<%= @alert_params[:top_btn_href] %>"><button class="btn btn-primary" style="margin-bottom: 40px; width: 140px; height: 80px;"><%= @alert_params[:top_btn_text] %></button></a>
            </div> <!--row-->
            <div class="row">
              <a href="<%= @alert_params[:bottom_btn_href] %>"><button class="btn" style="width: 140px; height: 60px;"><%= @alert_params[:bottom_btn_text] %></button></a>
            </div> <!--row-->
          </div>
        <% end %>
      </div> <!--row-->
      <% if current_user.find_active_attacks.count > 0 %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <a href="/user/<%= the_guy_who_you_are_attacking.id %>"><i class="fa fa-map-marker fa-1x" style="margin-right: 5px;"></i>Click here to view your charge.</a>
          </div>
        </div>
      <% end %>
    </div><!--alert-box-->
  </div>
</div>
