<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script src="/javascript/application.js"></script>

<%
    @defender = User.find(@encounter.defender)
    @attacker = current_user
%>

  <% if @encounter.attacker_id.to_i == current_user.id.to_i %>
  <div class="alert alert-success">
    <div class="container-fluid">
      <div class="col-md-8">
        <h1>Your Fate Is Sealed</h1>

        <p>
          You are currently committed to honorable combat with another expert of the
          Martial Arts.
        </p>

        <p>
          When your task is accomplished, please click the Attack Complete
          button and leave a review for your opponent.
        </p>
      </div>
      <div class="col-md-4" style="padding-top: 40px;">
        <form method="get" action="/user/<%=current_user.id%>">
          <input class="btn btn-primary" type="submit" style="height: 80px;" value="Back to My Profile">
        </form>
      </div>

  <% else %>
  <div class="alert alert-warning">
    <div class="container-fluid">
      <h1>Accept Challenge?</h1>

      <form method='post' action='/encounter/accept'>
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="encounter_id" value="<%= @encounter.id %>">
        <input type="hidden" name="attacker_id" value="<%= @attacker.id %>">
        <input class="btn btn-primary" type="submit" value="Accept">
      </form>
  <% end %>
  </div>
</div>
<br>
<div class="container-fluid">
<!--   <div class="col-md-5 panel" style="margin-right: 50px;">

    <div class="panel-heading">
      <h2>Defender:</h2>
      <h3><%= @defender.username %></h3>
    </div>

    <div class="well">
      <ul>
        <li>Area: <%= @encounter.location %></li>
        <li><span style="color: #dd7777;">Provided Address: <%= "123 Hardcode Blvd." %>*</span></li>
        <li>Height: <%= @attacker.height %></li>
        <li>Weight: <%= @attacker.weight %></li>
        <li><span style="color: #dd7777;">Attacks: <%= "5" %>*</span></li>
        <li><span style="color: #dd7777;">Defenses: <%= "12" %>*</span></li>
      </ul>
      <small><span style="color: #dd7777;">*Hard coded, not generated</span></small>
    </div>
  </div> -->


        <div class="col-md-5" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Defender: <%= @defender.username %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%="/assets/p#{@defender.id}.jpg"%>" class="img-circle img-responsive"> </div>
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>Nickname</dt>
                    <dd>Height</dd>
                    <dt>Weight</dt>
                    <dt>Hometown</dt>
                    <dt>Age</dt>
                    <dt>Reach</dt>
                  </dl>
                </div>
                <div class=" col-md-8 col-lg-8 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nickname:</td>
                        <td><%= @defender.nickname %> </td>
                      </tr>
                      <tr>
                        <td>Weight:</td>
                        <td><%= @defender.weight %></td>
                      </tr>
                      <tr>
                        <td>Height:</td>
                        <td><%= @defender.height %></td>
                      </tr>
                      <tr>
                        <td>Hometown:</td>
                        <td><%= @defender.hometown %></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%= @defender.age %></td>
                      </tr>
                      <tr>
                        <td>Reach:</td>
                        <td><%= @defender.reach %></td>
                      </tr>
                    </tbody>
                  </table>
                 
                </div>
                
              </div>
            </div>
          </div>
        </div>
      
    

    <div class="col-md-5" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Attacker: <%= @attacker.username %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%="/assets/p#{@attacker.id}.jpg"%>" class="img-circle img-responsive"> </div>
                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>Nickname</dt>
                    <dd>Height</dd>
                    <dt>Weight</dt>
                    <dt>Hometown</dt>
                    <dt>Age</dt>
                    <dt>Reach</dt>
                  </dl>
                </div>
                <div class=" col-md-8 col-lg-8 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nickname:</td>
                        <td><%= @attacker.nickname %> </td>
                      </tr>
                      <tr>
                        <td>Weight:</td>
                        <td><%= @attacker.weight %></td>
                      </tr>
                      <tr>
                        <td>Height:</td>
                        <td><%= @attacker.height %></td>
                      </tr>
                      <tr>
                        <td>Hometown:</td>
                        <td><%= @attacker.hometown %></td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td><%= @attacker.age %></td>
                      </tr>
                      <tr>
                        <td>Reach:</td>
                        <td><%= @attacker.reach %></td>
                      </tr>
                    </tbody>
                  </table>
                 
                </div>
                
              </div>
            </div>
          </div>
        </div>
</div>
<br>
<div>

<style>
html, body, #map {
  height: 500px;
  margin: 0;
}

#autocomplete {
  width: 100%;
  height: 25px;
}
</style>
<input type="text" id="autocomplete" value="<%= @defender.hometown %>">
<div id="map"></div>


</div>

