<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CatoPro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/user/<%=session[:current_user] %>">Dashboard</a></li>
        <li><a href="/user/<%=session[:current_user] %>#request">Request to be Attacked at Random</a></li>
        <li><a href="/schedule">Serve as Cato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if session[:current_user] %>
          <li>
            <a href="/user/<%=session[:current_user] %>"><strong>Signed in as <%=User.find(session[:current_user]).username %></strong></a>
           <!-- <span style="color: #FF4444;"><strong><%=User.find(session[:current_user]).username %></strong></span> -->
          </li>

          <li><a href="#">
            <form method='post', action='/logout'>
              <input class="btn btn-default" type="submit" name="logout" value="Sign out">
            </form>
          </a>
          </li>
        <% else %>
          <form method='post', action='/login'>
              <!-- <label for='username'>Username:</label> -->
              <input type='text' name='username' placeholder="Username">
              <!-- <label for='password'>Password:</label> -->
              <input type='password' name='password' placeholder="Password">
              <input class="btn navbar-btn" type='submit' name='submit' value='LOG IN'>
              <button class="btn"><a href="/user/new" style="color: black;">SIGN UP</a></button>
           </form>



        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
